<ion-list>
  <ion-item-sliding *ngFor="let lista of deseosService.listas">
    <ion-item detail (click)="listaSeleccionada(lista)">
      <ion-label>{{ lista.titulo }}</ion-label>
      <ion-badge slot="end" color="tertiary">{{ lista.items.length }} item<span *ngIf="lista.items.length !== 1">s</span></ion-badge>
    </ion-item>
    <ion-item-options side="end">
        <ion-item-option (click)="borrar(lista)" color="danger">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </ion-item-sliding>
</ion-list>